name: pr

on:
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: pr-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  test-ts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install -g npm@10
      - run: npm ci
      - run: npm run ci:fmt
      - run: npm run ci:lint
      - run: npm run ci:check
      - run: npm run build
