name: static-site

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/configure-pages@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install -g npm@10
      - run: |
          npm ci
          npm run build
          cd demo
          npm ci
          npm run build
      - uses: actions/upload-pages-artifact@v3
        with:
          path: 'demo/out'
      - uses: actions/deploy-pages@v4
        id: deployment
